services:
  dev_app:
    extends:
      file: ./docker-compose.base.yml
      service: app
    container_name: dev_app
    profiles:
      - dev
    env_file:
      - .env.dev
    depends_on:
      - mailhog
      - redis
      - dev_mysql
      - rustfs_dev
    command: >
      sh -c '
        npm install --legacy-peer-deps &&
        npm run build:frontend &&
        npm run start;
      '

  test_app:
    extends:
      file: ./docker-compose.base.yml
      service: app
    container_name: test_app
    env_file:
      - .env.test
    profiles:
      - test
    depends_on:
      - mailhog
      - redis
      - test_mysql
      - rustfs_test
    command: >
      sh -c '
        npm ci;
        npm run test;
      '

  dev_mysql:
    container_name: dev_mysql
    extends:
      file: ./docker-compose.base.yml
      service: mysql
    volumes:
      - mysql_data:/var/lib/mysql
    profiles:
      - dev
      - localDev

  test_mysql:
    container_name: test_mysql
    extends:
      file: ./docker-compose.base.yml
      service: mysql
    profiles:
      - test
      - localTest

  mailhog:
    extends:
      file: ./docker-compose.base.yml
      service: mailhog
    profiles:
      - dev
      - test
      - localDev
      - localTest

  redis:
    extends:
      file: ./docker-compose.base.yml
      service: redis
    profiles:
      - dev
      - test
      - localDev
      - localTest

  rustfs_dev:
    container_name: rustfs_dev
    extends:
      file: ./docker-compose.base.yml
      service: rustfs
    profiles:
      - dev
      - localDev
    volumes:
      - rustfs_data:/data

  rustfs_test:
    container_name: rustfs_test
    extends:
      file: ./docker-compose.base.yml
      service: rustfs
    profiles:
      - test
      - localTest

volumes:
  mysql_data:
    driver: local
  rustfs_data: